// DONT TOUCH
@mixin flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}
// DONT TOUCH
@mixin flexRow {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: row ;
}
// DONT TOUCH
@mixin parralax {
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
// DONT TOUCH
@mixin fullScreener {
    min-height: 100vh;
    min-width: 100%;
}
// DONT TOUCH
@mixin animationInfo{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
}
// DONT TOUCH
@mixin absCentered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

$backgroundblue: #286EFA ;

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    @include fullScreener();
    @include flexCol(); 
    background: url('/src/images/incsubbk.jpg');
    background-position: center;
    background-size: cover;
    #root{
        @include fullScreener();
        @include flexCol(); 
        .App{
            @include fullScreener();
            @include flexRow();
            align-items: flex-start;
            background: $backgroundblue;
            height: 125vh;
        
            .form_wrapper{
                @include flexCol();
                justify-content: flex-start !important;
                height: 125vh;
                position: relative;
                top: 0;
                background-color: white;
                width: 75%;
                position: relative;
                h1{
                    transform: translate(-3%,5%);
                    min-width: 40%;
                    font-size: 1.6rem;
                    text-align: left;
                    margin-top: 5rem;
                }
                .sign_in{
                    transform: translate(-3%,5%);
                    width: 40%;
                    font-size: .8rem;
                    margin: 2.5rem 0px;
                    margin-bottom: 1.5rem ;

                    @include flexRow();
                    justify-content: flex-start;
                    a{
                        font-weight: 600;
                        color: $backgroundblue;
                        margin-left: .5rem;
                        cursor: pointer;

                    }
                }
                .step_indicator{
                    @include flexRow();
                    transform: translate(-25%,230%);
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: .75rem;
                    h3{
                        margin-right: .5rem;
                        font-size: .75rem;
                    }
                    .curstep{
                        background: #c3c3c3;
                        height: 4px;
                        width: 4px;
                        border-radius: 50%;
                        margin: 0px 4px;
                        
                    }
                    .one{
                        background: #505050;
                    }
                }
                form{
                    transform: translate(-3%,5%);
                    @include flexCol();
                    max-width: 41%;
                    min-width: 41%;
                
                    p{
                        width: 100%;
                        text-align: left;
                        color: #AAAAAA;
                        font-size: .7rem;
                        font-weight: bold;
                        margin-top: -.5rem;
                        margin-bottom: 2rem;
                    }
                    span{
                        width: 100%;
                        position: relative;
                        i{
                            font-size: .7rem;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translate(-75%,-100%);
                            color: #AAAAAA;
                            cursor: pointer;
                            &:hover{
                                color: black;
                            }

                        }
                    }
                    input,select{
                        padding: .75rem;
                        width: 100% !important;
                        border: 1.5px solid #aaaaaa3b;
                        border-radius: .25rem; 
                        margin-bottom: 1rem;
                        color: #A4A4A4;
                        background-color: white;
                        &::placeholder{
                            font-size: .8rem;
                            color: #A4A4A4;

                        }
                        &:focus{
                            border: 1.5px solid #aaaaaa3b;
                        }
                    }
                    select{
                        cursor: pointer;
                    }

                    .selectedSpanName{
                        position: relative;
                        &::after{
                            position: absolute;
                            content: 'Your name';
                            width: auto;
                            background: white;
                            left: 0;
                            top: 0;
                            transform: translate(22%,-50%);
                            font-size: .8rem;
                            color: #A4A4A4;

                        }
                    }
                    .selectedSpanEmail{
                        position: relative;
                        &::after{
                            position: absolute;
                            content: 'Email address';
                            width: auto;
                            background: white;
                            left: 0;
                            top: 0;
                            transform: translate(17%,-50%);
                            font-size: .8rem;
                            color: #A4A4A4;

                        }
                    }

                    .selectedSpanEmailErr{
                        position: relative;
                        input{
                            border: 1.5px solid rgb(255, 57, 57) !important;

                        }
                        &::after{
                            position: absolute;
                            content: 'Email address';
                            width: auto;
                            background: white;
                            left: 0;
                            top: 0;
                            transform: translate(17%,-50%);
                            font-size: .8rem;
                            color: rgb(255, 57, 57) !important;

                        }
                    }

                    .error_para{
                        margin-top: .25rem;
                        font-size: .75rem;
                        color: rgb(255, 57, 57);
                        margin-bottom: 1rem;
                        display: none;
                    }
                    .submit_button{
                        padding: 1rem;
                        background: rgba(150, 150, 150, 0.151) ;
                        border: none;
                        font-size: .75rem;
                        color: #AAAAAA;
                        font-weight: 600;
                        text-align: center;
                        &:hover{
                            background: rgba(150, 150, 150, 0.247) ;
                        }
                    }

                    .terms{
                        margin-top: 1.25rem;
                        p{
                            font-weight: normal;
                            margin: 0px !important;
                            width: auto;
                            font-size: 1rem !important;
                            color: black;
                            line-height: 2;
                            font-size: .89rem !important;
                        }
                        a{
                            color: $backgroundblue;
                            margin: 0px !important;
                            cursor: pointer;
    
                        }
                    }
                }

            }

            .lorem_wrapper{
                @include flexCol();
                color: white;
                width: 40%;
                height: 100vh;
                transform: translate(0%,14.5%);
                h1{
                    font-size: 1.5rem;
                    margin-bottom: 4rem;
                }
                p{
                    width: 55%;
                    font-size: 1rem;
                    line-height: 1.75;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    body {
        #root{
            .App{
                @include flexCol();
                flex-direction: column-reverse; 
                .lorem_wrapper{
                    width: 100%;
                    height: auto;
                    h1{
                        margin-bottom: 2rem;
                    }
                    p{
                        width: 90%;
                        line-height: 1;
                        margin-bottom: 4rem;
                        text-align: center
                    }
                }

                        
            .form_wrapper{
                @include flexCol();
                position: relative;
                top: 0;
                background-color: white;
                width: 90%;
                position: relative;
                h1{
                    min-width: 100%;
                    font-size: 1rem;
                    text-align: center;
                }
                .sign_in{
                    transform: translate(-3%,5%);
                    width: 100%;
                    font-size: .8rem;
                    margin: 2.5rem 0px;
                    margin-bottom: 1.5rem ;
                    justify-content: center;
                    a{
                        font-weight: 600;
                        color: $backgroundblue;
                        margin-left: .5rem;
                        cursor: pointer;

                    }
                }

                form{
                    margin-top: 1.5rem;
                    transform: translate(0%,0%);
                    max-width: 90%;
                    min-width: 90%;
                }

            }
            }
        }
    }
  }
  