// DONT TOUCH
@mixin flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}
// DONT TOUCH
@mixin flexRow {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: row ;
}
// DONT TOUCH
@mixin fullScreener {
    min-height: 100vh;
    min-width: 100%;
}
// DONT TOUCH
@mixin animationInfo{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
// DONT TOUCH
@mixin absCentered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: b
}

$darkerPurp :rgb(54, 0, 105);
$darkPurp :rgb(88, 0, 170);
$lightpurp :blueviolet;
$lighterpurp :rgb(162, 77, 241);

body{
    #root{
        .App{
            @include flexRow();
            justify-content: space-between;
            @include fullScreener();
            background-color: black;
            color: white;
            nav{
                padding: 2rem 0rem;
                @include flexCol();
                justify-content: space-between;
                width: 12rem;
                background: blueviolet;
                height: 100vh;
                border-right: 3rem solid $darkPurp;
                i{
                    @include flexRow();
                    font-size: 3rem;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    transition: all ease .25s;
                    text-shadow: .75rem 0 0 $darkPurp;

                    &:hover{
                        cursor: pointer;
                        background: $darkPurp;
                        transform: rotate(90deg);
                    }
                }
                h1{
                    font-size: 4rem;
                    font-family: 'Palette Mosaic';
                    transform: rotate(90deg) translate(-45%);
                    text-align: center;
                    width: max-content;
                    margin-left: 1rem;
                    text-shadow: 0 -1rem 0 $darkPurp;
                }
            }
            .intro_menu{
                @include flexRow();
                width: 100%;
                height: 100vh;
                margin-left: 4rem;
                div{
                    .keyword{
                        color:$lighterpurp;
                    }
                    height: inherit;
                    @include flexCol();
                    justify-content: space-evenly;
                    width: 50%;
                    h1{
                        font-size: 4rem;
                        font-weight: bold;
                    }
                    p{
                        text-align: center;
                        font-size: 2.25rem;
                        font-weight: bold;
                        width: 75%;
                    }
                    button{
                        width: 75%;
                        padding: .5rem 1rem;
                        border: none;
                        border-radius: 3rem;
                        background: $darkPurp;
                        font-size: 2.5rem;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        transition: all ease .25s;
                        box-shadow: .75rem 0rem $darkerPurp;
                        text-shadow: .5rem 0rem $darkerPurp;
                        &:hover{
                            background: $lightpurp;
                            transform: rotateY(10deg);
                            box-shadow: 1.25rem 0rem $darkerPurp;
                            text-shadow: .7rem 0rem $darkerPurp;
                        }
                    }
                }
                .outer{
                    justify-content: center;
                    perspective: 100vh;
                    padding-bottom: 5rem;
                    .box{
                        width: 17vw;
                        height: 17vw;
                        background: $lightpurp;
                        box-shadow: 0 0 1rem black;
                        margin:-7rem 0rem;
                        transition: all ease .5s;
                        transform: rotateX(45deg) rotateZ(0deg);
                        animation: entryAnimation 4s linear infinite forwards;
                        &:hover{
                            background:$darkPurp;
                            margin:-4rem 0rem;
                        }
                    }
                    .one{
                        z-index: 5;
                        opacity: .8;
                        animation-delay: 0s;
                    }
                    .two{
                        z-index: 4;
                        opacity: .7;
                        animation-delay: .15s;

                    }
                    .three{
                        z-index: 3;
                        opacity: .6;
                        animation-delay: .30s;

                    }
                    .four{
                        z-index: 2;
                        opacity: .5;
                        animation-delay: .45s;

                    }
                    .five{
                        z-index: 1;
                        opacity: .4;
                        animation-delay: .60s;

                    }
                }
            }
            .outer-container {
                width: 100%;
                height: 100vh;
                @include flexRow();
                main{
                    height: inherit;
                    width: inherit;
                    @include flexCol();
                    .property_display{
                        height: inherit;
                        width: inherit;
                        height: 70vh;
                        @include flexCol();
                        justify-content: space-between;
                        .property_name{
                            @include flexRow();
                            width: 80%;
                            justify-content: space-between;
                            i{
                                @include flexCol();
                                font-size: 3rem;
                                background: $lightpurp;
                                width: 5rem;
                                height: 5rem;
                                border-radius: 50%;
                                box-shadow: .5rem 0rem $darkPurp;
                                transition: all ease .5s;
                                cursor: pointer;
                                &:hover{
                                    background: $darkPurp;
                                }
                            }

                            .fa-backward{
                                padding-right: .75rem;
                                &:hover{
                                    transform: rotateY(20deg);
                                    box-shadow: 1rem 0rem $darkerPurp;
                                }
                            }
                            .fa-forward{
                                padding-left: .75rem;
                                box-shadow: -.5rem 0rem $darkPurp;

                                &:hover{
                                    transform: rotateY(-20deg);
                                    box-shadow: -1rem 0rem $darkerPurp;
                                }
                            }

                            h1{
                                font-size: 3.5rem;
                                font-family: 'Palette Mosaic';
                                text-align: center;
                            }
                        }
                        .main_slider_container{
                            width: 80%;
                            background-color: $lightpurp;
                            border-radius: 3rem;
                            border-right: 1rem solid $darkPurp;
                            padding: 2rem;
                        }
                    }
                    .slider_container{
                        @include flexCol();
                        span{
                            @include flexRow();
                            width: 100%;
                            justify-content: space-between  ;
                        }
                        justify-content: space-between;
                        .rangeSlider{
                            width: 100%;
                            -webkit-appearance: none !important;
                            background: $lightpurp;
                            margin-top: 1rem;
                            &::-webkit-slider-runnable-track {
                                -webkit-appearance: none !important;
                                background-color: $darkerPurp;
                                border-radius: 2rem;
                                transition: all ease .25s;
                                height: 1rem;
                            }
                            &::-webkit-slider-thumb{
                                -webkit-appearance: none !important;
                                padding: .75rem;
                                cursor: pointer;
                                transition: all ease .25s;
                                width: 1rem;
                                background: white;
                                border-radius: 50%;
                                border: .5rem solid $darkPurp;
                                transform: translate(0%,-35%);
                                &:hover{
                                    padding: 1.5rem;
                                    transform: translate(0%,-40%);

                                }
                                &:active{
                                    background: $darkerPurp;
                                    box-shadow: inset 0 0 .75rem black;
                                }
                            }
                        }
                        h1,select{
                            transition: all ease .25s;
                            width: 60%;
                            transform: translate(0%,-15%);
                            font-size: 1.25rem;
                            font-weight: 900;
                            background-color: $darkPurp;
                            border-right: .4rem solid $darkerPurp;
                            padding: .75rem .5rem;
                            border-radius: 2rem;
                            text-align: center;
                        }
                        .slider_value{
                            width: 20%;
                            margin: 0rem 1rem;
                        }
                        select{
                            color: white;
                            width: auto;
                            border: none;
                            border-right: .4rem solid $darkerPurp;
                            cursor: pointer;
                            option{
                                font-weight: bolder;

                            }
                            &:hover{
                                background: $darkPurp;
                            }
                        }
                        button{
                            width: 100%;
                            padding: 1rem 0rem;
                            border: none;
                            border-radius: 1rem;
                            background: $darkPurp;
                            color: white;
                            font-weight: bolder;
                            font-size: 1.75rem;
                            cursor: pointer;
                            transition: all ease .25s;
                            border-right: .5rem solid $darkerPurp;
                            margin: 2rem 0rem;
                            margin-bottom: 1rem;
                            &:hover{
                                transform: rotateY(10deg);
                                background: $lighterpurp;
                                border-right: .6rem solid $darkerPurp;  
                                box-shadow: .5rem 0 1rem $darkerPurp;
                                transform: translate(-.5%);
                            }
                        }

                        &:hover{
                            select{
                                background-color: $lighterpurp;
                                box-shadow: .75rem 0 1rem $darkerPurp;

                            }
                            .rangeSlider{
                                &::-webkit-slider-runnable-track {
                                    background-color: $darkPurp;

                                }
                            }
                        }
                    }
                }
                .display-container{
                    .output_displayer{
                        @include flexCol();
                        justify-content: space-evenly;
                        width:60%;
                        min-height: 70vh;
                        background: $lightpurp;
                        border-right: 1rem solid $darkerPurp;
                        border-radius: 3rem;
                        .screen{
                            width: 80%;
                            max-width:80%;
                            min-height: 50vh;
                            background: rgb(37, 37, 37);
                            border-radius: 2rem;
                            box-shadow: inset 0 0 1.25rem black;
                            overflow: scroll;   
                            @include flexCol();
                            .display_div{
                                height: 10rem;
                                width: 10rem;
                                background: white;
                            }
                        }

                        .button_container{
                            width: 80%;
                            @include flexRow();
                            justify-content: space-between;
                            button{
                                width: 45%;
                                padding: 1rem 0rem;
                                border: none;
                                border-radius: 1rem;
                                background: $darkPurp;
                                color: white;
                                font-weight: bolder;
                                font-size: 1.75rem;
                                cursor: pointer;
                                transition: all ease .25s;
                                border-right: .5rem solid $darkerPurp;
                                &:hover{
                                    transform: rotateY(10deg);
                                    background: $lighterpurp;
                                    border-right: .6rem solid $darkerPurp;  
                                    box-shadow: .5rem 0 1rem $darkerPurp;
                                    transform: translate(-2.5%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




@keyframes entryAnimation {
    0%{
        transform: rotateX(45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(45deg) rotateZ(360deg);
    }
}